@import '~@angular/material/theming';
@import 'src/app/scss/shared.scss';
@import 'src/app/scss/palette.scss';

@include mat-core();
$primary: mat-palette($primary-palette);
$accent: mat-palette($secondary-palette);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

